<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message_mapper">
    <select id="getByUserId" resultMap="message_map">
        SELECT
        *
        FROM chat c
        WHERE c.user_id = #{user_id}
    </select>
    <select id="getById" resultMap="message_map">
        SELECT
        *
        FROM chat c
        WHERE c.id = #{id}
    </select>
    <select id="get" resultMap="message_map">
        SELECT
        *
        FROM chat
    </select>
    <insert id="create">
        Insert into chat(user_id,message) values(#{user_id},#{message})
    </insert>


    <resultMap id="message_map" type="automation.mybatis.model.Message" autoMapping="false">
        <id property="id" column="id" />
        <result property="user_id" column="user_id" />
        <result property="tm" column="tm"/>
        <result property="message" column="message" />
    </resultMap>
</mapper>